* {
    background-color: rgb(207, 171, 117);
    font-family:Georgia, 'Times New Roman', Times, serif;
}


h1 {
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
    color: rgb(32, 32, 32);
    font-style:oblique;
}

#box {
    color: rgb(54, 20, 133);
    background-color: rgb(221, 178, 162);
    font-family:'Times New Roman', Times, serif;
    line-height: 20px;

}


#points_ol {
    color: rgb(65, 39, 180);
    line-height: 7px;
}

.topheading{
    color: rgb(82, 4, 102);
}


button{
    color: rgb(213, 223, 195);
    background-color: rgb(182, 114, 241);
}

a{
    text-decoration: underline;
    text-shadow: 0in;
}


#outer{
    
    text-transform: capitalize;
    text-decoration-color: blueviolet;
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
}

#inner{
    font-size: small;
    text-transform: lowercase;
    font-style: italic;

}
